<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.dao.ClientDrawingsDao">


	<resultMap id="ClientDrawingsResultMap" type="com.cbt.entity.ClientDrawings">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="project_cname" property="projectCname" jdbcType="VARCHAR" />
		<result column="drawings_name" property="drawingsName" jdbcType="VARCHAR" />
		<result column="drawings_path" property="drawingsPath" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="mold_price" property="moldPrice" jdbcType="DOUBLE" />
		<result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
		<result column="quote_time" property="quoteTime" jdbcType="TIMESTAMP" />
		<result column="drawing_state" property="drawingState" jdbcType="VARCHAR" />
	    <result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="erp_mold_id" property="erpMoldId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="ClientDrawingsColumnList">
		id, userid,order_id, project_name, 
		drawings_name, project_cname, drawings_path,
		update_time, mold_price, unit_price,
		quote_time, drawing_state, product_name, quantity,status ,erp_mold_id

	</sql>
		
	<!-- 根据订单号查询图纸 -->
	<select id="queryListByOrderId" resultMap="ClientDrawingsResultMap"
		parameterType="java.lang.String">
		select
		<include refid="ClientDrawingsColumnList" />
		from client_drawings 
		where order_id = #{orderId,jdbcType=VARCHAR}
	</select>
	
	
	<!-- 更新图纸信息 -->
	<update id="updateClientDrawings"  parameterType="com.cbt.entity.ClientDrawings">
		update client_drawings 
		<set> 
		<if test="quantity != null">
			quantity = #{quantity,jdbcType=INTEGER},
		</if>
	    <if test="status != null">
			status = #{status,jdbcType=VARCHAR},
		</if>
	    <if test="moldPrice != null">
			mold_price = #{moldPrice,jdbcType=DOUBLE},
		</if>
	    <if test="unitPrice != null">
			unit_price = #{unitPrice,jdbcType=DOUBLE},
		</if>
	    <if test="productName != null">
			product_name = #{productName,jdbcType=VARCHAR},
		</if>
	    <if test="drawingsName != null">
			drawings_name = #{drawingsName,jdbcType=VARCHAR},
		</if>
	    <if test="updateTime != null">
			update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
	    <if test="quoteTime != null">
			quote_time = #{quoteTime,jdbcType=TIMESTAMP},
		</if>
	    <if test="drawingState != null">
			drawing_state = #{drawingState,jdbcType=VARCHAR},
		</if>
	    <if test="drawingsPath != null">
			drawings_path = #{drawingsPath,jdbcType=VARCHAR},
		</if>
	    </set>
		 where id = #{id,jdbcType=INTEGER}
	</update>       
    
    
    <!-- 批量插入clientDrawings数据 -->
	<insert id="insertClientDrawings" parameterType="java.util.List">
	    insert into client_drawings 
		    (
         userid, order_id, project_name, project_cname, drawings_name, drawings_path, quantity,
		 update_time, mold_price, unit_price,quote_time, drawing_state,product_name,erp_mold_id 
            )
	    values
	    <foreach collection="list" item="item" index="index" separator=",">
	      (           
		    #{item.userid},#{item.orderId},#{item.projectName}, 
		    #{item.projectCname}, 
		    #{item.drawingsName}, 
		    #{item.drawingsPath}, 
		    #{item.quantity}, 
		    #{item.updateTime},#{item.moldPrice}, 
		    #{item.unitPrice},#{item.quoteTime},#{item.drawingState},#{item.productName},#{item.erpMoldId}
	      )
	    </foreach>
	</insert>
	
	
    <!-- 批量插入clientDrawings数据 -->
	<insert id="insertDrawings" parameterType="ArrayList">
	    insert into client_drawings 
		    (
         userid, order_id, drawings_name, drawings_path, quantity,
		 update_time, mold_price, unit_price,quote_time, drawing_state,
		 product_name,quantity,status,erp_mold_id  
            )
	    values
	    <foreach collection="list" item="item" index="index" separator=",">
	      (           
		    #{item.userid},#{item.orderId},
		    #{item.drawingsName},
		    #{item.drawingsPath},  
		    #{item.quantity},  
		    #{item.updateTime},#{item.moldPrice}, 
		    #{item.unitPrice},#{item.quoteTime},#{item.drawingState},
		    #{item.productName},#{item.quantity},#{item.status},#{item.erpMoldId}
	      )
	    </foreach>
	</insert>
	
	     <!-- 单条插入clientOrder数据 -->
	<insert id="insertClientDrawing" parameterType="com.cbt.entity.ClientDrawings" useGeneratedKeys="true" keyProperty="id">
	    insert into client_drawings 
		    (
	     userid, order_id, project_name, project_cname, drawings_name, drawings_path, 
		 update_time, mold_price, unit_price,quote_time, drawing_state, product_name,
		 quantity, status
            )
	    values	    
	      (  	       
				#{userid,jdbcType=VARCHAR},
			    #{orderId,jdbcType=VARCHAR},
				#{projectName,jdbcType=INTEGER},
				#{projectCname,jdbcType=VARCHAR},
				#{drawingsName,jdbcType=VARCHAR},
				#{drawingsPath,jdbcType=VARCHAR},
				#{updateTime,jdbcType=TIMESTAMP},
				#{moldPrice,jdbcType=DOUBLE},
				#{unitPrice,jdbcType=DOUBLE},
				#{quoteTime,jdbcType=TIMESTAMP},
				#{drawingState,jdbcType=VARCHAR},
				#{productName,jdbcType=VARCHAR},
				#{quantity,jdbcType=INTEGER},
				#{status,jdbcType=VARCHAR}
   
	      )

	</insert>
	<!-- 根据id删除图纸信息 -->
	<delete id="deleteClientDrawing" parameterType="int">
	  delete from client_drawings 
	  where id = #{id,jdbcType=INTEGER}
	</delete>

    <select id="queryById" parameterType="int" resultMap="ClientDrawingsResultMap">
      select 
      <include refid="ClientDrawingsColumnList" /> 
	  from client_drawings 
	  where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>