.bianhaolan{
    margin-top: 20px;
    float: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: relative;
}
.bianhaolan .bianhao{
    font-size: 14px;
    margin: 0;
    padding: 0;
    float: left;
}
.bianhaolan .fapiao,.bianhaolan .jine{
    float: left;
    margin-left: 8%;
}
.bianhaolan .fapiao>input,.bianhaolan .jine>select{
    margin-top: -5px;
    margin-left: 7px;
    margin-bottom: 20px;
}
.bianhaolan .fapiao>label{
    float: left;
}
.bianhaolan .jine>label{
    float: left;
}
.div-left{
    float: left;
}
.div-left span{
    font-size: 14px;
    color:#d14;
}
.gradeA>td{
    text-align: center;
}
.widget-box{
    margin-top:0px ;
}
.controls>span{
    color:#d14;
}
.bianhaolan{
    width: 100%;
}
.control-group:before, .control-group:after {
    display: table;
    line-height: 0;
    content: "";
}
.row-fluid .span12 span {
    font-size: 14px;
    color: #d14;
}
.control-label {
    padding-top: 15px;
    /* width: 180px; */
    float: left;
    text-align: right;
}
.controls {
    margin-left: 90px;
    padding: 10px 0;
}
.pull-right{
    float: left;
    margin-top: 30px;
}
.waimian {
    padding: 20px;
    margin-top: 20px;
}
.control-group {
    margin-bottom: 0px;
}
.div-label2 {
    width: 30%;
}
.div-con {
    width: 70%;
}
